@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url(https://fonts.googleapis.com/css?family=Archivo:300,400,500,550,600,900);

:root {
  --app-primary-grey: #656565;
  --app-secondary-grey: #9b9b9b;
  --app-primary-text: archivo;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: var(--app-primary-text), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

hr.hr-sm {
  border-top: 1px solid #c2c2c2;
}

hr.hr-lg {
  border-top: 4px solid #e4e4e4;
}

select {
  padding: 6px 12px;
  cursor: pointer;
  text-transform: capitalize;
}

.app-text-grey {
  color: var(--app-primary-grey);
}
