.container .image div {
  width: 100%;
  min-height: 350px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .container .image div {
    /* min-height: auto; */
  }
}

@media screen and (min-width: 768px) {
  .button-container {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
}

.container:hover .button-container {
  opacity: 1;
}

.container:last-child {
  margin-bottom: 2.5rem;
}