.container input {
  display: none;
}

.container .checkbox {
  margin-right: 20px;
  
}

.container .checkbox.false path:last-child {
  display: none;
}

.container .checkbox.true path:last-child {
  display: block;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
